<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!-<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Campaign Diary</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
        {% extends "base.html" %}
        {% block content %}
        <h1>Campaign Diary</h1>
        <a href="{% url 'Upload Session Report' %}"><button>Upload a Session Report</button></a>
        {% for post in post_list %}
        <hr>
        <div class="post-entry">
            <h3>Session {{ post.session }} of {{ post.campaign }}, in {{ post.system }}</h3>
            <a href="{% url 'Individual Post' post.pk %}"><h2>{{ post.title }}</h2></a>
            <h3>By {{ post.author }}</h3>
            <p>{{ post.text }}</p>
        </div>
        {% endfor %}
        {% endblock %}
    </body>
</html>