<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Campaign Diary</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <div>
            <h1>Campaign Diary</h1>
            <a href="{% url 'Upload Session Report' %}"><button>Upload a Session Report</button></a>
        </div>
        {% for post in post_list %}
        <hr>
        <div class="post-entry">
            <h3>Session {{ post.session }} of {{ post.campaign }}, in {{ post.system }}</h3>
            <a href="{% url 'Individual Post' post.pk %}"><h2>{{ post.title }}</h2></a>
            <h3>By {{ post.author }}</h3>
            <p>{{ post.text }}</p>
        </div>
        {% endfor %}
        {% endblock %}
    </body>
</html>