<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Campaign Diary</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <div>
            <h1>{{ post.title }}</h1>
            <a href="{% url 'Campaign Diary' %}"><button>Back</button></a>
            <hr>
        </div>
        <div>
            <h2>{{ post.title }}</h2>
            <h3>Session {{ post.session }} of {{ post.campaign }}</h3>
            <p>{{ post.text }}</p>
            <h3>By {{ post.author }}</h3>
            <p>{{ post.date }}</p>

            {% if post.author == request.user %}
            <a href="{% url 'Edit Post' post.pk %}"><button>Edit Post</button></a>
            <a href="{% url 'Delete Post' post.pk %}"><button>Delete Post</button></a>
            {% endif %}
        </div>
        {% endblock %}
    </body>
</html>