<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!-<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Generators</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>Generators</h1>
        <button onclick="window.location.reload()">Refresh</button>
        <hr>

        <h2>Quest</h2>
        <p class="quest">{{ quest }}</p>
        <h2>Villager</h2>
        <p class="villager">{{ villager }}</p>
        <h2>Adventurer</h2>
        <p class="adventurer">{{ adventurer }}</p>
        <h2>Monster</h2>
        <p class="monster">{{ monster }}</p>
        <h2>Magic Weapon</h2>
        <p class="weapon">{{ weapon }}</p>
        <h2>Magic Item</h2>
        <p class="item">{{ item }}</p>
        {% endblock %}
    </body>
</html>