<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dice Roller</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <script src="/static/roll.js"></script>
        <div>
            <h1>Dice Roller</h1>
            <button onclick="window.location.reload()">Refresh</button>
            <hr>
        </div>
        <div>
            <button onclick="roll(4, d4Results, 'd4RollsDisplay', 'd4TotalDisplay')">d4</button>
            <div id="d4RollsDisplay">Rolls</div>
            <div id="d4TotalDisplay">Total</div>
            <script>
                const d4Results = [];
            </script>
            <br>
        </div>
        <div>
            <button onclick="roll(6, d6Results, 'd6RollsDisplay', 'd6TotalDisplay')">d6</button>
            <div id="d6RollsDisplay">Rolls</div>
            <div id="d6TotalDisplay">Total</div>
            <script>
                const d6Results = [];
            </script>
            <br>
        </div>
        <div>
            <button onclick="roll(8, d8Results, 'd8RollsDisplay', 'd8TotalDisplay')">d8</button>
            <div id="d8RollsDisplay">Rolls</div>
            <div id="d8TotalDisplay">Total</div>
            <script>
                const d8Results = [];
            </script>
            <br>
        </div>
        <div>
            <button onclick="roll(10, d10Results, 'd10RollsDisplay', 'd10TotalDisplay')">d10</button>
            <div id="d10RollsDisplay">Rolls</div>
            <div id="d10TotalDisplay">Total</div>
            <script>
                const d10Results = [];
            </script>
            <br>
        </div>
        <div>
            <button onclick="roll(12, d12Results, 'd12RollsDisplay', 'd12TotalDisplay')">d12</button>
            <div id="d12RollsDisplay">Rolls</div>
            <div id="d12TotalDisplay">Total</div>
            <script>
                const d12Results = [];
            </script>
            <br>
        </div>
        <div>
            <button onclick="roll(20, d20Results, 'd20RollsDisplay', 'd20TotalDisplay')">d20</button>
            <div id="d20RollsDisplay">Rolls</div>
            <div id="d20TotalDisplay">Total</div>
            <script>
                const d20Results = [];
            </script>
            <br>
        </div>
        <div>
            <button onclick="roll(100, d100Results, 'd100RollsDisplay', 'd100TotalDisplay')">d100</button>
            <div id="d100RollsDisplay">Rolls</div>
            <div id="d100TotalDisplay">Total</div>
            <script>
                const d100Results = [];
            </script>
            <br>
        </div>
    {% endblock %}
    </body>
</html>