<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% load static %}
    {% block content %}
    
    <h1>Dice Roller</h1>
    <p>
        <a href = "{% url 'Dice Roller' %}"><button>Refresh</button></a>
    </p>
    <hr>

    <script>
        function roll(max, results, rollDisplayId, totalDisplayId) {
            results.push(Math.floor(Math.random() * max) + 1);
            document.getElementById(rollDisplayId).innerText = `${results}`;
            let total = 0;
            for (i=0 ; i<results.length ; i++) {
                total = total + results[i];
            }
            document.getElementById(totalDisplayId).innerText = `${total}`
            return;
        }
    </script>

    <div>
        <button onclick="roll(4, d4Results, 'd4RollsDisplay', 'd4TotalDisplay')">d4</button>
        <p id="d4RollsDisplay">Rolls</p>
        <p id="d4TotalDisplay">Total</p>
        <script>
            const d4Results = [];
        </script>
        <hr>
    </div>

    <div>
        <button onclick="roll(6, d6Results, 'd6RollsDisplay', 'd6TotalDisplay')">d6</button>
        <p id="d6RollsDisplay">Rolls</p>
        <p id="d6TotalDisplay">Total</p>
        <script>
            const d6Results = [];
        </script>
        <hr>
    </div>

    <div>
        <button onclick="roll(8, d8Results, 'd8RollsDisplay', 'd8TotalDisplay')">d8</button>
        <p id="d8RollsDisplay">Rolls</p>
        <p id="d8TotalDisplay">Total</p>
        <script>
            const d8Results = [];
        </script>
        <hr>
    </div>

    <div>
        <button onclick="roll(10, d10Results, 'd10RollsDisplay', 'd10TotalDisplay')">d10</button>
        <p id="d10RollsDisplay">Rolls</p>
        <p id="d10TotalDisplay">Total</p>
        <script>
            const d10Results = [];
        </script>
        <hr>
    </div>

    <div>
        <button onclick="roll(12, d12Results, 'd12RollsDisplay', 'd12TotalDisplay')">d12</button>
        <p id="d12RollsDisplay">Rolls</p>
        <p id="d12TotalDisplay">Total</p>
        <script>
            const d12Results = [];
        </script>
        <hr>
    </div>

    <div>
        <button onclick="roll(20, d20Results, 'd20RollsDisplay', 'd20TotalDisplay')">d20</button>
        <p id="d20RollsDisplay">Rolls</p>
        <p id="d20TotalDisplay">Total</p>
        <script>
            const d20Results = [];
        </script>
        <hr>
    </div>

    <div>
        <button onclick="roll(100, d100Results, 'd100RollsDisplay', 'd100TotalDisplay')">d100</button>
        <p id="d100RollsDisplay">Rolls</p>
        <p id="d100TotalDisplay">Total</p>
        <script>
            const d100Results = [];
        </script>
        <hr>
    </div>

    {% endblock %}
</html>