<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!-<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dice Roller</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <script src="../../static/roll.js" async defer></script>
    {% extends "base.html" %}
    {% load static %}
    {% block content %}
        <h1>Dice Roller</h1>
        <button onclick="window.location.reload()">Refresh</button>
        <hr>
        <div>
            <button onclick="roll(4, d4Results, 'd4RollsDisplay', 'd4TotalDisplay')">d4</button>
            <div id="d4RollsDisplay">Rolls</div>
            Total<div id="d4TotalDisplay"><br></div>
            <script>
                const d4Results = [];
            </script>
            <br>
        </div>

        <div>
            <button onclick="roll(6, d6Results, 'd6RollsDisplay', 'd6TotalDisplay')">d6</button>
            <div id="d6RollsDisplay">Rolls</div>
            Total<div id="d6TotalDisplay"><br></div>
            <script>
                const d6Results = [];
            </script>
            <br>
        </div>

        <div>
            <button onclick="roll(8, d8Results, 'd8RollsDisplay', 'd8TotalDisplay')">d8</button>
            <div id="d8RollsDisplay">Rolls</div>
            Total<div id="d8TotalDisplay"><br></div>
            <script>
                const d8Results = [];
            </script>
            <br>
        </div>

        <div>
            <button onclick="roll(10, d10Results, 'd10RollsDisplay', 'd10TotalDisplay')">d10</button>
            <div id="d10RollsDisplay">Rolls</div>
            Total<div id="d10TotalDisplay"><br></div>
            <script>
                const d10Results = [];
            </script>
            <br>
        </div>

        <div>
            <button onclick="roll(12, d12Results, 'd12RollsDisplay', 'd12TotalDisplay')">d12</button>
            <div id="d12RollsDisplay">Rolls</div>
            Total<div id="d12TotalDisplay"><br></div>
            <script>
                const d12Results = [];
            </script>
            <br>
        </div>

        <div>
            <button onclick="roll(20, d20Results, 'd20RollsDisplay', 'd20TotalDisplay')">d20</button>
            <div id="d20RollsDisplay">Rolls</div>
            Total<div id="d20TotalDisplay"><br></div>
            <script>
                const d20Results = [];
            </script>
            <br>
        </div>

        <div>
            <button onclick="roll(100, d100Results, 'd100RollsDisplay', 'd100TotalDisplay')">d100</button>
            <div id="d100RollsDisplay">Rolls</div>
            Total<div id="d100TotalDisplay"><br></div>
            <script>
                const d100Results = [];
            </script>
            <br>
        </div>
    {% endblock %}
    </body>
</html>