<!DOCTYPE html>
<html>
    
    {% extends "base.html" %}

    {% block content %}
    <h1>Dice Roller</h1>
    <p>
        <a href = "{% url 'Dice Roller' %}"><button>Refresh</button></a>
    </p>
    <hr>
    <p>
        <button>d4</button>
        <br>{{ d4 }}
    </p>
    <p>
        <button>d6</button>
        <br>{{ d6 }}
    </p>
    <p>
        <button>d8</button>
        <br>{{ d8 }}
    </p>
    <p>
        <button>d10</button>
        <br>{{ d10 }}
    </p>
    <p>
        <button>d12</button>
        <br>{{ d12 }}
    </p>
    <p>
        <button>d20</button>
        <br>{{ d20 }}
    </p>
    <p>
        <button>d100</button>
        <br>{{ d100 }}
    </p>
    {% endblock %}
</html>