<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Character Sheets</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <h1>Character Sheets</h1>
            <button>Create New Character</button>
            <hr>
        </div>
        <div>
            {% for sheet in charsheets %}
                {{ sheet.name }} - {{ sheet.campaign }}
            {% endfor %}
        </div>
    </body>
</html>