.float_right {
    float: right;
    text-align: right;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
button {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
    transition-duration: 0.5s;
}
button:hover {
    transition-duration: 0.5s;
    background-color: rgb(235, 241, 245);
}
hr {
    border-top: rgb(235, 241, 245);
}
a {
    color: rgb(111, 157, 187);
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column {
    float: left;
    width: 50%;
  }