<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <div>
            <h1>Campaigns</h1>
            <button>Host Campaign</button>
            <button>Join Campaign</button>
            <hr>
        </div>
        {% endblock %}
    </body>
</html>