<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Campaigns</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <div>
            <h1>Campaigns</h1>
            <a href="{% url 'New Campaign' %}"><button>Host Campaign</button></a>
            <a href="{% url 'Join Campaign' %}"><button>Join Campaign</button></a>
            <hr>
        </div>
        <div>
            {% for campaign in campaign_list %}
            <h2>{{ campaign.name }}</h2>
            <p>{{ campaign.premise }}</p>
            <h3>{{ campaign.system }}</h3>
            {% if campaign.host == request.user %}
                <a href="{% url 'Delete Campaign' campaign.pk %}"><button>Delete Campaign</button></a>
            {% else %}
                <a href="{% url 'Leave Campaign' campaign.pk %}"><button>Leave Campaign</button></a>
                </form>
            {% endif %}
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>