<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Battle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <script src="/static/battle.js" type="text/javascript"></script>
        <div>
            <h1>Battle</h1>
            <button onclick="window.location.reload()">Refresh</button>
            <hr>
        <div>
            <label for="nameInput">New Combatant Name</label><br>
            <input id="nameInput">
            <button onclick="updateNameDisplay()">Add Combatant</button>
            <ul>
                <li id="nameList"></li>
            </ul>
        </div>
        {% endblock %}
    </body>
</html>