<head>
    <style>
        .float_right {
            float: right;
            text-align: right;
        }
    </style>
</head>
<header>
    <a href="{% url 'Home Page' %}"><button>Home</button></a>
    <a href="{% url 'Campaign Diary' %}"><button>Campaign Diary</button></a>
    <a href="{% url 'Dice Roller' %}"><button>Dice Roller</button></a>
    <a href="{% url 'Generators' %}"><button>Generators</button></a>

    <span class="float_right">
        {% if user.is_authenticated %}
        <span>Logged in as {{ user.username }}</span>
        {% else %}
        <a href="{% url 'Sign Up' %}"><button>Sign Up</button></a>
        <a href="{% url 'Account' %}"><button>Log In</button></a>
        {% endif %}
    </span>
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="float_right" type="submit">Log Out</button>
        <br>
    </form>
    {% endif %}
    <hr>

</header>
{% block content %}
{% endblock %}