<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <script src="" async defer></script>
        {% extends "base.html" %}
        {% block content %}
        <div>
            <h1>Armchair Bugbear</h1>
            <hr>
        </div>
        <div>
            <p>Click on 'Dice Roller' to roll some dice, or click on 'Campaign Diary' to share your RPG, solo RPG and wargame session reports.</p>
            <ul>
                <li>Keep your campaign titles consistent across sessions. If you start a new campaign, give it a new name.</li>
                <li>For game system, use the full name of the game, followed by #E for edition (if necessary). For example: Dungeons & Dragons 5E.</li>
                <li>Keep the feed tidy. Don't dump your backlog all at once, don't spam sessions like crazy.</li>
            </ul>
        </div>
        {% endblock %}
    </body>
</html>